/node_modules
/source apk/node_modules
/source apk/.expo
/source apk/dist
/source apk/dist-new
/source apk/web-build
*.apk
*.apk.idsig
*.jar
*.rar
*.tar
*.zip
*.exe
*.bat
*.jpg
*.png
*.log
*.key
*.keystore
*.jks
*.p8
*.p12
.env*
/Database
/source cms
/apk sudah build
.omo
/test-screenshots
